{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page" style="background: #121212;">

    <div class="login-box">
        
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div><center>
          <a href="#">
                 SEND
             <span></span>
          </a></center>
        </form>
      </div>

    <!-- <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post">
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
            </div>

             <button class="twitter-btn " style="background-color: #121214;">Log in</button>
        </form>

        <div class="footer">
            <a href="#">Forget Password</a> .
            <a href="#">Sign up to twitter</a>
        </div>

    </div> -->

</body>
    {% endblock content %}

